<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- this line calls aframe -->
    <script src="../third-party/aframe.min.js"></script>
    <!-- this line calls the AR.js component to be used for aframe and finds the source of different assets like the description of 3D objects, the camera calibration-->
    <script src="../third-party/aframe-ar.js"></script>
  </head>
  <body style="margin: 0px; overflow: hidden">
    <!-- au.gmented.com/app/marker/marker.php -->

    <a-scene
      vr-mode-ui="enabled: false"
      embedded
      arjs="debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3;"
    >
      <!-- <a-assets>
        <a-asset-item id="pepper" src="../assets/img/pepper.png"></a-asset-item>
      </a-assets> -->
      <!--
        actual source dimensions 1024 768
        source orientation landscape
      -->

      <!-- PIMENTA -->
      <a-marker type="barcode" value="0">
        <!-- TITLE ENVIRONMENT -->
        <a-plane
          position="-2 0 -2.8"
          rotation="-90 0 0"
          height="0.8"
          width="2"
          material="side: double; color: #000; transparent: true; opacity: 0.5"
        ></a-plane>

        <a-text
          value="Plant-AR"
          position="-2.5 0.1 -3"
          rotation="-90 0 0"
          color="#FFF"
          scale="1.2"
        ></a-text>
        <a-text
          value="Atualizado a: 5min"
          position="-2.5 0.1 -2.7"
          rotation="-90 0 0"
          color="#FFF"
          scale="0.5"
        ></a-text>

        <!-- ENVIRONMENT WATER LEVEL -->
        <a-plane
          position="-2 0 -1.8"
          rotation="-90 0 0"
          height="1"
          width="2"
          material="side: double; color: #000; transparent: true; opacity: 0.5"
        ></a-plane>

        <!-- TODO: Verificar acentuação UTF-8 -->
        <a-text
          value="Umidade do solo"
          position="-2.8 0.1 -2.1"
          rotation="-90 0 0"
          color="#FFF"
          scale="1"
        ></a-text>

        <a-plane
          position="-2.8 0.1 -1.7"
          rotation="-90 0 0"
          height="0.1"
          width="0.1"
          material="side: double; color: #B9D770;"
        ></a-plane>

        <a-text
          value="Otimo"
          position="-2.7 0.1 -1.7"
          rotation="-90 0 0"
          color="#FFF"
          scale="0.4"
        ></a-text>

        <a-text
          value="80%"
          position="-2.1 0.1 -1.7"
          rotation="-90 0.1 0"
          color="#B9D770"
          scale="2"
        ></a-text>

        <!-- ENVIRONMENT PH LEVEL -->
        <a-plane
          position="-2 0 -0.7"
          rotation="-90 0 0"
          height="1"
          width="2"
          material="side: double; color: #000; transparent: true; opacity: 0.5"
        ></a-plane>

        <a-text
          value="pH"
          position="-2.7 0.1 -1.0"
          rotation="-90 0 0"
          color="#FFF"
          scale="1"
        ></a-text>

        <a-plane
          position="-2.8 0.1 -0.6"
          rotation="-90 0 0"
          height="0.1"
          width="0.1"
          material="side: double; color: #ffa500;"
        ></a-plane>

        <a-text
          value="Normal"
          position="-2.7 0.1 -0.6"
          rotation="-90 0 0"
          color="#FFF"
          scale="0.4"
        ></a-text>

        <a-text
          value="5.5"
          position="-2.1 0.1 -0.6"
          rotation="-90 0 0"
          color="#ffa500"
          scale="2"
        ></a-text>

        <!-- ENVIRONMENT PH LEVEL -->
        <a-plane
          position="-2 0 0.4"
          rotation="-90 0 0"
          height="1"
          width="2"
          material="side: double; color: #000; transparent: true; opacity: 0.5"
        ></a-plane>

        <a-text
          value="Temperatura"
          position="-2.7 0.1 0.1"
          rotation="-90 0 0"
          color="#FFF"
          scale="1"
        ></a-text>

        <a-plane
          position="-2.8 0.1 0.5"
          rotation="-90 0 0"
          height="0.1"
          width="0.1"
          material="side: double; color: #c70000;"
        ></a-plane>

        <a-text
          value="Inadequado"
          position="-2.7 0.1 0.5"
          rotation="-90 0 0"
          color="#FFF"
          scale="0.4"
        ></a-text>

        <a-text
          value="31°C"
          position="-2.1 0.1 0.5"
          rotation="-90 0 0"
          color="#c70000"
          scale="2"
        ></a-text>

        <!-- PLANT INFO -->
        <a-plane
          position="0.1 0 -0.2"
          rotation="-90 0 0"
          height="1.5"
          width="2"
          material="side: double; color: #000; transparent: true; opacity: 0.8"
        ></a-plane>

        <a-text
          value="Pimenta Malagueta"
          position="-0.7 0.1 -0.7"
          rotation="-90 0 0"
          color="#FFF"
          scale="0.8"
        ></a-text>

        <a-text
        value="Harvest date: \n 06/05/2022"
        position="0.2 0.1 -0.1"
        rotation="-90 0 0"
        color="#FFF"
        scale="0.5"
      ></a-text>

        <a-image
        src="../assets/img/pepper.png"
        position="-0.3 0.6 -0.2"
        rotation="-90 0 0"
        height="0.6"
        width="0.6"
        ></a-image>



      </a-marker>

      <!-- LIMAO -->
      <a-marker type="barcode" value="1">
        <a-box color="blue"></a-box>
      </a-marker>

      <a-entity camera></a-entity>
    </a-scene>

  </body>
</html>
